/* POSITIONING DEFAULTS*/
.col-centered{
    float: none;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    margin-right: -4px;
}

.row-centered{
    text-align: center;
}

.abs-centered{
    position: absolute;
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));
}
/* END POSITIONING DEFAULTS */