/* Scroll Top Top */
.scroll-to-top {
  padding: 1px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 10001;
  margin: 2%;
  display: none;
  right: 10px;
  .icon-arrow-up:before {
    content: "\e078";
    rotation: 90deg;
  }
  .icon-party-casino-arrow {
    &:before {
      border: 2px solid $text-color-inactive;
      font-size: 20px;
      padding: 4px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    transform: rotate(90deg);
  }
}

.scroll-to-top > i {
  display: inline-block;
  color: #687991;
  font-size: 30px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.scroll-to-top:hover {
  cursor: pointer;
}

.scroll-to-top:hover > i {
  opacity: 1;
  filter: alpha(opacity=100);
}

@media (min-width: 992px) {
  /* 992px */
  .scroll-to-top {
    right: 20px;
  }
}

@media (max-width: 991px) {
  /* 991px */
  .scroll-to-top {
    bottom: 10px;
    right: 10px;
  }
  .scroll-to-top > i {
    font-size: 28px;
  }
}